.reasons {
	padding: 25px 0;
	background-color: #82ca9c;
	color: white;
}

.reasons__title {
	font-size: 1.875em;
	font-weight: 300;
}

.reasons__items--heading {
	font-size: .8125em;
	font-weight: 600;
}

.reasons__items--paragraph {
	font-size: .875em;
}

@media only screen and (min-width : 768px) {
	.reasons {
		height: 537px;
		padding: 0;	
		padding-top: 90px;	
	}	

	.reasons__title {
		font-size: 2.1875em;
		margin-bottom: 35px;
	}

	.reasons__items--heading {
		margin-bottom: 20px;
	}
	
	.reasons__items--paragraph {
		line-height: 1.75em;
	}
}