<footer class="footer">
	<div class="container1200">
		<div class="row"> 
			<div class="col-6">
				<h3 class="footer__header">Get in touch</h3>
				<div class="footer__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
			</div>
			<div class="col-6 footer__subscribe">
				<h3 class="footer__subscribe--header">Stay in touch</h3>
				<form class="footer__subscribe--form" action="footer_submit.php" method="post" accept-charset="utf-8">
					<input type="email" name="email"><!-- --><input type="submit" name="submit" value=""> <!-- todo -->
				</form>
				<div class="footer__subscribe--hint">We don’t send spam. Actually, who are we kiding, we’ll spam the shit out of you’r inbox</div>
			</div>
		</div><!-- /row -->
		<div class="row ">
			<nav class="col-2">
				<div class="footer__header">Resources</div>				
				<ul class="footer__menu">
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Tour">Tour</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Customers">Customers</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Pricing and Plans">Pricing and Plans</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="New Features">New Features</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Education">Education</a>
					</li>
				</ul>
			</nav>
	
			<nav class="col-2">
				<div class="footer__header">Features</div>				
				<ul class="footer__menu">
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Tour">Tour</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Customers">Customers</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Pricing and Plans">Pricing and Plans</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="New Features">New Features</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Education">Education</a>
					</li>
				</ul>
			</nav>
				
			<nav class="col-2">
				<div class="footer__header">How To’s</div>				
				<ul class="footer__menu">
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Tour">Tour</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Customers">Customers</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Pricing and Plans">Pricing and Plans</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="New Features">New Features</a>
					</li>
					<li class="footer__menu--item">
						<a class="footer__menu--link" href="#" title="Education">Education</a>
					</li>
				</ul>
			</nav>
			<div class="col-4 footer__social">
			<div class="footer__header--social">Follow us:</div>
				<a class="footer__social--link fa fa-vk fa-4x" href="#"></a>
				<a class="footer__social--link  fa fa-facebook fa-4x" href="#"></a>
				<a class="footer__social--link  fa fa-twitter fa-4x" href="#"></a>
			</div>		
		</div>
	</div>
</footer>