<section class="promo"> 
	<div class="container1200">
		<div class="row"> 
			<div class="col-6">
			<h2 class="promo__title">Start something new</h2>
			</div>
		</div><!-- /row -->
		<div class="row">
			<div class="col-6">
				<p class="promo__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

				<p class="promo__paragraph">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

				<p class="promo__paragraph">eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
			</div>
			<div class="col-6 promo__right-column">
				<p class="promo__paragraph">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>

				<p class="promo__paragraph">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>
		</div><!-- /row -->
		<div class="row  promo__blocks">
			<div class="promo__block promo__blocks--design-quality">
				<h3 class="promo__heading">Design quality</h3>
				<p class="promo__blocks--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
				<a class="promo__blocks--link" href="#">Find Out more
				<i class="fa fa-long-arrow-right"></i>
				</a>				
			</div>
			<div class="promo__block promo__blocks--built-last">
				<h3 class="promo__heading">Built to last</h3>
				<p class="promo__blocks--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
				<a class="promo__blocks--link" href="#">Find Out more
				<i class="fa fa-long-arrow-right"></i>
				</a>
			</div>
			<div class="promo__block promo__blocks--our-clients">
				<h3 class="promo__heading">Our clients</h3>
				<p class="promo__blocks--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
				<a class="promo__blocks--link" href="#">Get insights
				<i class="fa fa-long-arrow-right"></i>
				</a>
				<br>
				<a class="fa fa-heart-button promo__blocks--like" href=""></a>
			</div>
		</div><!-- /row -->
		<div class="row  promo__blocks promo__blocks--second-block">
			<div class="promo__blocks--sign-up">
				<h3 class="promo__heading">Sign up & see why</h3>
				<p class="promo__blocks--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
				<a class="promo__blocks--link" href="#">Get Started Now
				<i class="fa fa-long-arrow-right"></i>
				</a>
				<br>
				<a class="fa fa-heart-button promo__blocks--like" href=""></a>
			</div>
			<div class="promo__blocks--perfect-pictures">
				<h3 class="promo__heading">Perfect pictures</h3>
				<p class="promo__blocks--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</p>
				<a class="promo__blocks--link" href="#">Find Out more	
				<i class="fa fa-long-arrow-right"></i>
				</a>
			</div>
		</div><!-- /row -->

		<div class="row">
			<div class="col-12">
				<h2 class="promo__title promo__title--details">A look at the details</h2>				
			</div>
		</div><!-- /row -->
		<div class="row promo__details">
			<div class="col-3">
				<h4 class="promo__details--header">Web based</h4>
				<p class="promo__details--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>

			<div class="col-3">
				<h4 class="promo__details--header">Performance</h4>
				<p class="promo__details--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>

			<div class="col-3">
				<h4 class="promo__details--header">Clultral</h4>
				<p class="promo__details--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>

			<div class="col-3">
				<h4 class="promo__details--header">Sustainability</h4>
				<p class="promo__details--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div><!-- /promo__details -->
	</div>
</section> 