<section class="reasons"> 
	<div class="container1200">
		<div class="row">
			<div class="col-6">
				<h2 class="reasons__title">Reasons to get onboard</h2>
			</div>
		</div>
		<div class="row reasons__items">
			<div class="col-4 reasons__items--web">
				<h4 class="reasons__items--heading">Web based</h4>
				<p class="reasons__items--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
			</div>
			<div class="col-4 reasons__items--team">
				<h4 class="reasons__items--heading">Team login</h4>
				<p class="reasons__items--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
			</div>
			<div class="col-4 reasons__items--support">
				<h4 class="reasons__items--heading">Great Support</h4>
				<p class="reasons__items--paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
			</div>
		</div><!-- /reasons__items -->
	</div><!-- /container -->
</section>