<section class="shop"> 
	<div class="container1200">
		<div class="row shop__item">
			<div class="col-6 shop__item--solo">
				<div class="shop__item--solo-status">Legacy</div>
				<h3 class="shop__item--solo-title">Go it solo</h3>
				<div class="shop__item--solo-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</div>
				<div class="button fa">
					<a class="button-link" href="#">Buy now 18$</a>
					<a class="apple-os-button fa fa-apple" href="#"></a>
					<a class="windows-os-button fa fa-windows" href="#"></a>
				</div>
			</div> <!-- /col-6 -->
			<div class="col-6 shop__item--team">
				<div class="shop__item--team-status">Most popular</div>
				<h3 class="shop__item--team-title">Team Plan</h3>
				<div class="shop__item--team-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
				<div class="button fa">
					<a class="button-link" href="#">Buy now 18$</a>
					<a class="apple-os-button fa fa-apple" href="#"></a>
					<a class="windows-os-button fa fa-windows" href="#"></a>
				</div>
			</div> <!-- /col-6 -->
		</div><!-- /row -->
	</div><!-- /container -->
</section>